<ul>
  <li><a href="/articles" data-page="articles" class="<%= activePage==='articles' ? 'active' : '' %>">Статьи</a></li>
  <li><a href="/topics" data-page="topics" class="<%= activePage==='topics' ? 'active' : '' %>">Темы</a></li>
  <% if (session?.isAuthed && session.role === 'ADMIN') { %>
    <li><a href="/users" data-page="users" class="<%= activePage==='users' ? 'active' : '' %>">Пользователи</a></li>
  <% } %>
  <li><a href="/gallery" data-page="gallery" class="<%= activePage==='gallery' ? 'active' : '' %>">Галерея</a></li>
  <li><a href="/news" data-page="news" class="<%= activePage==='news' ? 'active' : '' %>">Лента</a></li>
  <li><a href="/table" data-page="table" class="<%= activePage==='table' ? 'active' : '' %>">Таблица</a></li>
  <li><a href="/code" data-page="snippet" class="<%= activePage==='snippet' ? 'active' : '' %>">Код</a></li>
  <li><a href="/builder" data-page="builder" class="<%= activePage==='builder' ? 'active' : '' %>">Конструктор</a></li>
  <li><a href="/about" data-page="about" class="<%= activePage==='about' ? 'active' : '' %>">О нас</a></li>
  <li><a href="/contacts" data-page="contacts" class="<%= activePage==='contacts' ? 'active' : '' %>">Контакты</a></li>
</ul>
